<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'expertindex.html' %}
{% block body %}
<body>

<style>
  th{
  background-color:#F8C8DC;
  }
</style>
<form id="form1" name="form1" method="post" action="/addnewtip">
  <div align="center">
    <table width="837" height="168" border="5" class="table table-striped">
      <tr>
        <th height="43" colspan="2" scope="row">TIPS</th>
      </tr>
      <tr>
        <td width="660" height="79" scope="row"><b>TIPS INFO</b></td>
        <td width="161"><label>
          <textarea name="textarea" rows="10" cols="50" required placeholder="ADD TIPS HERE"></textarea>
        </label></td>
      </tr>
      <tr>
        <td height="31" colspan="2" scope="row"><label>
          <input type="submit" name="Submit" value="Submit" class="btn btn-info"/>
        </label></td>
      </tr>
      </table>
  </div>
</form>
</body>
{% endblock %}
<!--</html>-->
