{% extends'indexexpert1.html'%}
{%block body%}

<!--<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="col"><a href="Expert_home" >HOME</a></th>
      <th scope="col"><a href="viewtip" >TIPS</a></th>
      <th scope="col"><a href="addmaterial" >ADD METERIAL</a></th>
      <th scope="col"><a href="Medical_report" >MEDICAL REPORT </a></th>
      <th scope="col"><a href="interaction" >INTERACTION</a></th>
      <th scope="col"><a href="Student_response" >STUDENT RESPONSE</a> </th>
      <th scope="col"><a href="/" >LOGOUT</a></th>
    </tr>
  </table>
</form>
</body>-->
{%endblock%}
