<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'expertindex.html' %}
{% block body %}
<body>

<style>
  th{
  background-color:#F8C8DC;
  }
</style>
<form id="form1" name="form1" method="post" action="">
  <table width="418" border="5" class="table table-striped">
    <tr>
      <td colspan="4" scope="col"><em>INTERACTION</em></td>
    </tr>

    <tr>
      <th>NAME</th>
      <th>DATE</th>
      <th>TIME</th>
      <th>QUESTION</th>
      <th><a href="#"></a></th>
    </tr>
{% for i in  val %}
    <tr>
      <td>{{i[6]}}</td>
      <td>{{i[4]}}</td>
      <td>{{i[5]}}</td>
      <td>{{i[2]}}</td>
      <td><a href="/reply?id={{i[0]}}" class="btn btn-info">REPLY</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
