<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="log">
  <div align="center">
    <table width="282" border="5" class="table table-striped" >
      <tr>
        <th width="172" scope="row">USERNAME </th>
        <td width="94"><label>
          <input type="text" name="textfield" required />
        </label></td>
      </tr>
      <tr>
        <th scope="row">PASSWORD</th>
        <td><label>
          <input type="password" name="textfield2" required />
        </label></td>
      </tr>
      <tr>
 <th colspan="2" scope="row"><label>
          <input type="submit" name="Submit" value="LOGIN" class="btn btn-info"/>
        </label></th>
      </tr>
      </table>
  </div>
</form>
</body>
{% endblock %}
<!--</html>-->
