{% extends'indexadmin.html'%}
{%block body%}


<body>

<div class="section-title">
          <h2>STUDENT</h2>
          <p>VIEW STUDENT DETAILS HERE</p>
        </div>

<form id="form1" name="form1" method="post" action="/Student_details" >
  <table width="200" border="1" id="customers">
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">DOB</th>
      <th scope="col">PLACE</th>
      <th scope="col">GENDER</th>
      <th scope="col">PHONE</th>
      <th scope="col">DESCRIPTION</th>
    </tr>
{% for i in val %}
    <tr>
      <td>{{i[1]}}</td>
      <td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
      <td>{{i[4]}}</td>
      <td>{{i[5]}}</td>
      <td>{{i[6]}}</td>
    </tr>
 {% endfor %}
  </table>
</form>
</body>
{%endblock%}
