<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--<style type="text/css">-->
<!--&lt;!&ndash;-->
<!--.style1 {font-family: "Courier New", Courier, monospace}-->
<!--.style2 {font-family: Georgia, "Times New Roman", Times, serif}-->
<!--&ndash;&gt;-->
<!--</style>--
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}
<body>
<style>
  th{
  background-color:#F8C8DC;
  }
</style>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="721" height="271" border="5" class="table table-striped">
      <tr>
        <td colspan="6" scope="row"><b>STUDENT DETAILS </b></td>
      </tr>
      <tr>
        <th width="160" scope="row">NAME</span></th>
        <th width="142" scope="row">DOB</th>
        <th width="142">PLACE</span></th>
        <th width="104">GENDER</th>
        <th width="65">PHONE</th>
        <th width="102">DESCRIPTION</th>
      </tr>
{% for i in  val %}
      <tr>
        <td >{{i[1]}}</td>
        <td >{{i[2]}}</td>
        <td>{{i[3]}}</td>
        <td>{{i[4]}}</td>
        <td>{{i[5]}}</td>
        <td>{{i[6]}}</td>
      </tr>
{% endfor %}
    </table>
  </div>
</form>
</body>
{% endblock %}
<!--</html>-->
